.container {
  display: flex;
  .card {
    padding: 10px;
    background-color: $color-grey;
    &__image {
    }
    &__actions {
      a {
      }
    }
    &:first-child {
      .card__actions {
        a {
          @include button($color-green,$color:"initial");
        }  
      }
    }
    &:nth-child(2) {
      .card__actions {
        a {
          @include button($color-purple,$color-white);
        }
      }
    }
    &:last-child {
      .card__actions {
        a {
          @include button($color-red,$color-white);
        }
      }
    }
  }
} 
