.container {
  display: flex;
  .card {
    padding: 10px;
    @include media-query(phone) {
      @include card($color-red);
      &__image {
        width: 30px;
        height: auto;
        .image {
          width: 140px;
          height: auto;
        }
      }
    }
    @include media-query(tablet) {
      background-color: $color-purple;
      &__image {
        width: 60px;
        height: auto;
        .image {
          width: 280px;
          height: auto;
        }
      }
    }
    @include media-query(desktop) {
      background-color: $color-green;
      &__image {
        width: 120px;
        height: auto;
        .image {
          width: 560px;
          height: auto;
        }
      }
    }
    @include media-query(desktopxl) {
      background-color: $color-yellow;
      &__image {
        width: 240px;
        height: auto;
        .image {
          width: 1200px;
          height: auto;
        }
      }
    }
    &:first-child {
      &__actions {
        @include button-orientation(center);
        a {
          @include button($color-green,$color:"initial");
        }  
      }
    }
    &:nth-child(2) {
      &__actions {
        @include button-orientation(center);
        a {
          @include button($color-purple,$color-white);
        }  
      }
    }
    &:last-child {
      &__actions {
        @include button-orientation(center);
        a {
          @include button($color-red,$color-white);
        }  
      }
    }
  }
}

