.container {
  display: flex;
  .card {
    padding: 10px;
    &:first-child {
      .card__actions {
        @include button-orientation(center);
        a {
          @include button($color-green,$color:"initial");
        }  
      }
    }
    &:nth-child(2) {
      .card__actions {
        @include button-orientation(center);
        a {
          @include button($color-purple,$color-white);
        }  
      }
    }
    &:last-child {
      .card__actions {
        @include button-orientation(center);
        a {
          @include button($color-red,$color-white);
        }  
      }
    }
    @include media-query(phone) {
      @include card($color-red);
      &__image {
        width: 30px;
        height: auto;
        .image {
          width: 135px;
          height: auto;
        }
      }
    }
    @include media-query(tablet) {
      background-color: $color-purple;
      &__image {
        width: 235px;
        height: auto;
        .image {
          width: 220px;
          height: auto;
        }
      }
    }
    @include media-query(desktop) {
      background-color: $color-green;
      &__image {
        width: 450px;
        height: auto;
        .image {
          width: 440px;
          height: auto;
        }
      }
    }
    @include media-query(desktopxl) {
      background-color: $color-yellow;
      &__image {
        width: 820px;
        height: auto;
        .image {
          width: 800px;
          height: auto;
        }
      }
    }
  }
}

