/// Colors
$color-red: #ff0000;
$color-green: #41e657;
$color-white: #fff;
$color-purple: #800080;
$color-primary: #008080;
$color-grey: #808080;




/// Typographic
$Roboto: 'Roboto', Arial, Serif;

/// Medida
$phone: 640px;
$paragraph: 16px;


/// Tipos de datos:
/// Color: #fff, blue ...
/// Numeros: 0 , 100
/// Números en pixel : em , %.
/// Strings: 'mobile', 'Arual asdad0
/// Boolean: true o false.
/// Maps => arrays
